/*  Roboto fonts   */

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Roboto;
    src: url('../fonts/roboto/regular/Roboto-400.woff2') format('woff2'), url('../fonts/roboto/regular/Roboto-400.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: Roboto;
    src: url('../fonts/roboto/regular/Roboto-400-italic.woff2') format('woff2'), url('../fonts/roboto/regular/Roboto-400-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: Roboto;
    src: url('../fonts/roboto/bold/Roboto-700.woff2') format('woff2'), url('../fonts/roboto/bold/Roboto-700.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: Roboto;
    src: url('../fonts/roboto/bold/Roboto-700-italic.woff2') format('woff2'), url('../fonts/roboto/bold/Roboto-700-italic.woff') format('woff');
    font-display: swap;
}

html {
    font-size: 62.5%;  /*@_root-font-size*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #070605;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25;
}

body * {
    box-sizing: border-box;
}

main {
    display: block;
}

img,
picture {
    max-width: 100%;
    border: 0;
}

a {
    color: #6b26fd;
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: #6b26fd;
    text-decoration: none;
}

a:hover {
    color: #9868fe;
    text-decoration: none;
}

a:active {
    color: #5608fd;
    text-decoration: none;
}

h1 {
    margin: 0 0 2rem;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.3rem;
}

input[type='text'],
textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    background: #fff;
    background-clip: padding-box;
    vertical-align: baseline;
    font-size: 16px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25;
}

input[type='text'] {
    padding: 0 9px;
    height: 32px;
}

textarea {
    padding: 10px;
    height: auto;
    resize: vertical;
}

input[type='text']:focus,
textarea:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #070605;
}

button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 35px;
    border: 0;
    background: #7aa022;
    background-image: none;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 2rem;
    cursor: pointer;
}

button:hover {
    border: 0;
    background: #a2d331;
    color: #fff;
}

p {
    margin: 0 0 1rem;
}

ol,
ul {
    margin: 0 0 2.5rem;
    list-style: none;
}

.page-main {
    padding: 0;
    width: 100%;
    height: 100%;
}

.trace {
    overflow: auto;
    min-height: 250px;
    width: 100%;
    background: #f1f1f1;
}

.message {
    margin: 20px 0;
    padding: 15px;
    border-radius: 4px;
}

.message:before {
    margin-right: 10px;
}

.error {
    background-color: #fce0e0;
}

.success {
    background-color: #e8fad5;
}

.info {
    background-color: #ffd43e;
}

.success:before {
    content: '👍'; /*Thumbs Up Emoji is here*/
}

.error:before {
    content: '❌'; /*Cross Mark Emoji is here*/
}

.info:before {
    content: '📍'; /*Round Pushpin Emoji is here*/
}

/*  Amasty JetTheme Maintenance Page Styles   */

/* Common   */

.amtheme-maintenance-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.amtheme-maintenance-container .amtheme-header {
    padding: 25px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(71, 68, 63, .1), 0 2px 8px rgba(135, 135, 135, .2);
    text-align: center;
}

.amtheme-maintenance-container .amtheme-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
}

.amtheme-maintenance-container .amtheme-dice {
    margin: auto;
    width: 270px;
}

.amtheme-maintenance-container .amtheme-text.-green {
    color: #7aa022;
}

.amtheme-maintenance-container .amtheme-title {
    margin: 60px 0 0;
    font-size: 22px;
}

.amtheme-maintenance-container .amtheme-description {
    margin: 20px 0 0;
}

.amtheme-maintenance-container .amtheme-plate.-yellow {
    display: none;
    width: 100%;
    height: 25px;
    background: #fafce2;
}

/* Tablet   */

@media screen and (min-width: 768px) {
    .amtheme-maintenance-container .amtheme-plate.-yellow {
        display: block;
    }

    .amtheme-maintenance-container .amtheme-dice {
        width: 370px;
    }

    .amtheme-maintenance-container .amtheme-header {
        margin-top: 75px;
        box-shadow: none;
    }

    .amtheme-maintenance-container .amtheme-title {
        font-weight: 400;
        font-size: 32px;
    }

    .amtheme-maintenance-container .amtheme-content {
        padding: 25px 45px;
        max-width: 610px;
        text-align: center;
    }
}
