<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_CustomTabs::config" title="Amasty Product Tabs" sortOrder="161820"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Catalog::catalog">
                    <resource id="Amasty_CustomTabs::amcustomtabs" title="Amasty Advanced Tabs" translate="title" sortOrder="10">
                        <resource id="Amasty_CustomTabs::tabs" title="Tab Management" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
