<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\CustomTabs\Api\Data\TabsInterface" type="Amasty\CustomTabs\Model\Tabs\Tabs" />
    <preference for="Amasty\CustomTabs\Api\TabsRepositoryInterface" type="Amasty\CustomTabs\Model\Tabs\Repository" />

    <type name="Amasty\CustomTabs\Model\Tabs\Tabs">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="rule_factory" xsi:type="object">Amasty\CustomTabs\Model\Tabs\RuleFactory</item>
                <item name="amasty_serializer" xsi:type="object">Amasty\Base\Model\Serializer</item>
                <item name="tab_processor" xsi:type="object">Amasty\CustomTabs\Model\Tabs\Indexer\TabProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\CustomTabs\Model\Tabs\Loader">
        <arguments>
            <argument name="readHandler" xsi:type="object">Amasty\CustomTabs\Model\Tabs\Loader\ReadHandler\Proxy</argument>
            <argument name="saveHandler" xsi:type="object">Amasty\CustomTabs\Model\Tabs\Loader\SaveHandler\Proxy</argument>
        </arguments>
    </type>
</config>
