<?xml version="1.0"?><!--
/**
 * @author    Amasty Team
 * @copyright Copyright (c) Amasty Ltd. ( http://www.amasty.com/ )
 * @package   Amasty_CustomTabs
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_CustomTabs" setup_version="1.2.0">
        <sequence>
            <module name="Amasty_Base"/>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
