<?xml version="1.0"?>
<!--
  @author Amasty Team
  @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
  @package Amasty_ThankYouPage
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="amasty_thankyoupage_order_success" instance="Amasty\ThankYouPage\Observer\OrderSuccessObserver"/>
    </event>

    <event name="multishipping_checkout_controller_success_action">
        <observer name="amasty_thankyoupage_order_success" instance="Amasty\ThankYouPage\Observer\OrderSuccessObserver"/>
    </event>
</config>
