<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Do you have discount code?'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="discount-form">
            <div class="payment-option-inner">
                <div class="field">
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="discount-code"
                               name="discount_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: couponCode, attr:{disabled:isApplied() , placeholder: $t('Enter discount code')} " />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <!-- ko ifnot: isApplied() -->
                        <button class="action action-apply"
                                type="submit"
                                data-bind="
                                    'value': $t('Apply'),
                                    click: apply,
                                    i18n: 'Apply',
                                    attr:{
                                        title: $t('Apply discount'),
                                        'aria-label': $t('Apply discount')
                                    }">
                        </button>
                    <!-- /ko -->
                    <!-- ko if: isApplied() -->
                        <button class="action action-cancel"
                                type="submit"
                                data-bind="
                                    'value': $t('Cancel coupon'),
                                    click: cancel,
                                    i18n: 'Cancel coupon',
                                    attr:{
                                        title: $t('Cancel coupon'),
                                        'aria-label': $t('Cancel coupon')
                                    }">
                        </button>
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko foreach: getRegion('captcha') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </form>
    </div>
</div>
