<section if="item.content && item.content.trim().length > 7"
         data-bind="
            attr: {
                class: 'ammenu-submenu-block -root -simple' + (item.additionalClasses.length ? ' ' + item.additionalClasses.join(' ') : '')
            },
            css: {
                '-auto': item.width === 1,
                '-full': item.width === 0
            },
            style: {
                animationDuration: (uiClass.animation_time + 's' || ''),
                width: item.width_value(),
                color: uiClass.color_settings.submenu_text,
                background: uiClass.color_settings.submenu_background,
                backgroundImage: uiClass.color_settings.submenu_background_image ? 'url(' + uiClass.color_settings.submenu_background_image + ')' : ''
            },
            html: item.content,
            event: {
                mouseenter: function() {
                    item.isActive(true);
                },
                mouseleave: function() {
                    item.isActive(false);
                }
            },
            afterRender: uiClass.applyBindings,
            visible: item.isActive">
</section>
