<!-- ko if: (isVisible()) -->
    <div class="shipping-information">
        <div class="ship-to">
            <div class="shipping-information-title">
                <span data-bind="i18n: 'Ship to'"></span>
            </div>
            <div class="shipping-information-content">
                <div class="content">
                    <!-- ko foreach: getRegion('ship-to') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <button class="action action-edit" data-bind="click: back, attr: {title: $t('Edit address')}">
                    <span data-bind="i18n: 'Edit'"></span>
                </button>
            </div>
        </div>
        <div class="ship-via">
            <div class="shipping-information-title">
                <span data-bind="i18n: 'Method'"></span>
            </div>
            <div class="shipping-information-content">
                <span class="value content">
                    <span class="title" data-bind="text: getShippingMethodTitleWithPrice()"></span>
                    <span class="delimiter">&bull;</span>
                    <span class="price" data-bind="text: getMethodPrice()"></span>
                </span>
                <button class="action action-edit" data-bind="click: backToShippingMethod, attr: {title: $t('Edit method')}">
                    <span data-bind="i18n: 'edit'"></span>
                </button>
            </div>
        </div>
    </div>
<!--/ko-->
