<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Amasty\MegaMenuLite\Ui\DataProvider\Form\Link\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="use_default" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\MegaMenuLite\Ui\DataProvider\Form\Link\Modifier\UseDefault</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Amasty\MegaMenuLite\Ui\DataProvider\Form\Link\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Amasty\MegaMenuLite\Ui\DataProvider\Form\Link\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Amasty\MegaMenuLite\Model\Backend\SaveLink\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="sort_order" xsi:type="number">20</item>
                    <item name="object" xsi:type="object">Amasty\MegaMenuLite\Model\Backend\SaveLink\DataCollector\General</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\MegaMenuLite\Model\Backend\DataProvider\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="sort_order" xsi:type="number">20</item>
                    <item name="object" xsi:type="object">Amasty\MegaMenuLite\Model\Backend\DataProvider\DataCollector\General</item>
                </item>
                <item name="modify_status" xsi:type="array">
                    <item name="sort_order" xsi:type="number">30</item>
                    <item name="object" xsi:type="object">Amasty\MegaMenuLite\Model\Backend\DataProvider\DataCollector\ModifyStatus</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
