<div class="amtheme-footer-title">
    <span class="switch"
          data-bind="
                attr: {href: '#' + name},
                text: label,
                css: { active: isVisible },
                click: toggleLayoutVisibility">
    </span>
</div>

<div class="amtheme-footer-container container"
     data-bind="
        css: '-' + index,
        visible: isVisible,
        afterRender: setSelectedLayout">
    <!-- ko foreach: { data: layoutBlocks, as: 'blocks'}  -->
    <div class="amtheme-footer-column column"
         data-bind="
             attr: {'data-index': $index()},
             afterRender: $parent.afterColumnRender.bind($parent)">
        <!-- ko foreach: { data: blocks, as: 'block'}  -->
            <div class="item-block">
                <!-- ko if: block.active -->
                    <div class="item" data-bind="attr: {'data-value': block.name}">
                        <img class="amtheme-image" data-bind="attr: {src: block.backend_image}" />
                        <span class="amtheme-label" data-bind="text: block.title"></span>
                    </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
