//
//  Variables
//  ____________________________________________

//
//  Colors
//  --------------------------------------------

@amshopby__color__primary: #4776f0;
@amshopby__hover__color__primary: #1452f2;
@amshopby__focus__color__primary: #1846be;

@base-border__color: #cccccc;
@dropdown-border__color: #adadad;

@search-hightlighted__background-color: #ffff00;

@price-slider-handle__background-color: #f98b25;
@price-slider-handle__hover__background-color: #e17e17;
@price-slider-range__background-color: #b6b6b6;

@filter-item-selected__background-color: #e8e8e8;

@apply-show-button-container__background: #eee;
@apply-show-button__border-color: #ccc;
@apply-show-button__color: #fff;
@apply-show-button__background: #FF9416;

//
//  Indents
//  --------------------------------------------

@amshopby__indent: 10px;
@amshopby__indent__m: @amshopby__indent + @amshopby__indent / 2;
@amshopby__indent__l: @amshopby__indent * 2;
@amshopby__indent__xl: @amshopby__indent__l + @amshopby__indent / 2;

@apply-show-button__bottom__s: -80px;
