<div class="block items-in-cart">
    <div class="content minicart-items">
        <div class="minicart-items-wrapper overflowed">
            <ol class="minicart-items">
                <each args="items()">
                    <li class="product-item">
                        <div class="product">
                            <each args="$parent.elems()" render=""/>
                        </div>
                    </li>
                </each>
            </ol>
            <div class="actions-toolbar" if="maxCartItemsToDisplay < getCartLineItemsCount()">
                <div class="secondary">
                    <a class="action viewcart amtheme-sliding-icon" data-bind="attr: {href: cartUrl, title: $t('View and Edit Cart')}">
                        <span data-bind="i18n: 'View and Edit Cart'"></span>
                        <svg class="amtheme-icon" focusable="false">
                           <use xlink:href="#icon-arrow-right-min"></use>
                       </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="amtheme-estimated-total">
            <span class="estimated-price" data-bind="text: $parent.getEstimateTotal(), attr: {'title': $t('Estimated Total')}"></span>
        </div>
    </div>
</div>
