<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nri" translate="label" sortOrder="10">
            <label>NRI</label>
        </tab>
        <section id="low_stock_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Low Stock</label>
            <tab>nri</tab>
            <resource>Magento_Catalog::catalog</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Low Stock Configuration</label>
                <field id="low_stock_quantity" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Low Stock Quantity</label>
                    <comment>Config low stock quantity will display message on the frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
